################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Introduction/WebApplication2/WebApplication2/obj/Debug/WebApplication2.csprojAssemblyReference.cache
